
.services .section-head-1{
    margin-bottom: 60px;
    background-size: 200%;
    background-position: left;

  }
.services  .section-head-1 p{
    color:#333;
    font-size: 20px;
    line-height: 28px;
    
  }
.services  .item{
    background:#fff;
    text-align: center;
    padding:30px 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,0.07);
    -webkit-transition:all 0.7s ease 0s;
    transition:all 0.7 ease 0s;
    
  }
.services  .item:hover{
    background-image: linear-gradient(to bottom right, #66ffcc 0%, #ffccff 100%);
    background-position: right;
    transition: background-position 3s;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.7s ease 0s;
  }
  .item:hover .item,
  .item:hover span.icon{
    background:#fff;
    border-radius: 10px;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover h6,
  .item:hover p{
    color:#2b6777;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item .icon{
    font-size:40px;
    margin-bottom: 25px;
    color:yellow;
    width:90px;
    height:90px;
    line-height: 96px;
    border-radius: 50px;
  }
  .item .feature_box_col_one{
    background:rgba(247,198,5,0.2);
    color:#52ab98;
  }
  .item .feature_box_col_two{
    background: rgba(255, 77, 28, 0.15);
    color:#52ab98;
    
  }
  .item .feature_box_col_three{
    background:rgba(0,147,38,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_four{
    background:rgba(0,108,255,0.15);
    color:#52ab98;
    
  }
  .item .feature_box_col_five{
    background:rgba(146,39,255,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_six{
    background:rgba(23,39,246,0.15);
    color:#52ab98;
  }
  .item p{
    font-size: 15px;
    font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 26px;
  }
  .item h6{
    margin-bottom: 20px;
    font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,sans-serif;
    color:#2f2f2f;
  }
@media screen and (max-width: 768px) {
  .section-head-1 h2 {
    font-size: 2.4rem !important;
  }
}
