
  <footer class="footer">
    <div class="footer-container">
  
      <div class="footer-section">
        <h4>About</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about">About us</a></li>
          <li><a href="#services">Solutions</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contact</h4>
        <p>
          Astana, Kazakhstan<br>
          Astana IT University<br>
         
         
          <strong>Email:</strong> kuzybahovanargiza@gmail.com
        </p>
       
      </div>
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </div>
  
     
  
    </div>
  
    <div class="footer-bottom">
      &copy; 2025 Your Company. All rights reserved.
    </div>
  </footer>
  